/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.backgound{
	background: url("../img/black.jpg");
	width: 100%;
}
.header{
	height: 100%;
	padding: 8px 0;
	background: red
}
.logo img{
	max-width: 150px;
}
.nav ul{
	list-style: none;
}
.nav li{
	margin: 0 16px;
}
.nav li a{
	font-family: 'Medula One', cursive;
	text-decoration: none;
	color: white;
	font-size: 28px
}
.nav li a:hover{
	opacity: 0.8
}

/*header*/
.banner .container{
	width: 100%
}
/*banner*/

.service .container{
	width: 100%;
}
.service h1{
	font-family: 'Medula One', cursive;
	text-align: center;
	color: #B99F65;
	padding: 50px;
	font-size: 62px;
	font-weight: normal
}
.gamebox {
	height: 25vw;
}
.box {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.feature-image {
	width: 100%;
	height: 100%;
	position: relative;
	background-repeat: no-repeat;
}
.feature-image{
	transition: 3s all ease-in-out
}
.box:hover .feature-image {
	transform: scale(1.1);
}
.content-box h2{
	font-family: 'Medula One', cursive;
	letter-spacing: 4px;
	padding: 20px;
	color: white;
	font-size: 38px;
	margin-top: 180px;
	font-weight: normal
}
.content-box{
	position: absolute;
	bottom: 0;
	display: flex;
}
/*service*/
.service-2{
	padding: 50px
}
.service-2 .container{
	width: 100%;
	box-sizing: border-box
}
.service-2 h1{
	font-family: 'Medula One', cursive;
	text-align: center;
	color: #B99F65;
	padding: 5px;
	font-size: 92px;
	letter-spacing: 5px;
	font-weight: normal;
	margin-top: -50px
}
.service-2 h2{
	font-family: 'Medula One', cursive;
	text-align: center;
	color: white;
	padding: 10px;
	font-size: 52px;
	letter-spacing: 3px;
	font-weight: normal
}
.service-2 .yo{
	color: white;
	font-size: 18px;
	text-align: center;
	padding: 20px 320px
}
.service-2 .logo{
	margin-left: 600px;
	padding: 50px 0
}
.yea img{
	width: 450px
}
.content-yea h2{
	font-family: 'Medula One', cursive;
	color: #B99F65;
	font-size: 42px;
	letter-spacing: 3px;
}
.content-yea .texx{
	color: white;
	font-size: 18px;
	font-weight: normal;
	padding: 0 50px;
	text-align: center
	
}
.blade-img{
	background: url("../img/sheikah-bg.png");
	height: 300px;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	margin-left: -120px;
}
.shikah-img img{
	max-width: 300px
}
.content h3{
	font-family: 'Medula One', cursive;
	width: 500px;
	color: #B99F65;
	font-size: 40px;
	padding-left: 50px;
	padding-top: 80px;
	margin-left: 150px;
	letter-spacing: 3px;
}
.content .text{
	width: 500px;
	color: white;
	font-size: 20px;
	padding: 0 140px 0 50px;
	margin-left: 150px;
	text-align: left;
	letter-spacing: 0.7px;
	font-weight: normal
}
.shikah-img{
    position:relative;
    top:0px;
    left:0px;
    animation-name:shikah;
    animation-duration:10s;
    animation-iteration-count:infinite;
}
@keyframes shikah{
0%{
    transform: translateY(-20px);
}
50%{
    transform: translateY(20px);
}
100%{
    transform: translateY(-20px);
}
}
/*section-2*/
.service-3{
	padding: 50px 0
}
.service-3 h1{
	font-family: 'Medula One', cursive;
	text-align: center;
	color: #B99F65;
	font-size: 92px;
	letter-spacing: 5px;
	font-weight: normal
}
.service-3 h2{
	font-family: 'Medula One', cursive;
	text-align: center;
	color: white;
	padding: 10px;
	font-size: 48px;
	letter-spacing: 3px;
	font-weight: normal
}
.service-3 p{
	color: white;
	font-size: 18px;
	text-align: center;
	padding: 20px 0;
}
.rider img{
	height: 100%;
	margin-left: 40px
}
.link img{
	height: 100%;
	margin-left: 60px
}
.zelda img{
	height: 100%;
	margin-left: 60px
}
.bokoblin img{
	height: 100%;
	margin-left: 75px
}
.guardian img{
	height: 100%;
	margin-left: -30px
}
.daruk img{
	height: 100%;
	margin-left: -60px
}
.mipha img{
	height: 100%;
	margin-left: -50px
}
.urbosa img{
	height: 100%;
	margin-left: -10px
}
.revali img{
	height: 100%;
	margin-left: -30px
}
.content-figuree{
	margin-left: 25px
}

/*section3*/
.service-4 h1{
	font-family: 'Medula One', cursive;
	text-align: center;
	color: #B99F65;
	padding: 5px;
	font-size: 92px;
	letter-spacing: 5px;
	font-weight: normal
}
.wallpapers-1{
	padding-top: 20px
}
.wallpapers-1 img{
	height: 180px;
}
.content-wallpaper li a{
	font-family: 'Medula One', cursive;
	text-decoration: none;
	color: #B99F65;
	font-size: 32px;
	line-height: 1.1;
}
.content-wallpaper li a:hover{
	color: white
}
.content-wallpaper li{
	list-style: none
}
.content-wallpaper{
	text-align: center
}
.wallpapers-1-1 img{
	height: 180px;
}
.concept-art{
	padding-top: 30px
}
.concept-art img{
	height: 170px;
}
.content-concept-art p{
	text-decoration: none;
	color: white;
	font-size: 18px;
	line-height: 1.1;
}
.content-concept-art{
	text-align: center
}
.concept-art-1-1 img{
	height: 170px;
}
.content-concept-art1 p{
	text-decoration: none;
	color: white;
	font-size: 18px;
	line-height: 1.1;
}
.content-concept-art1{
	text-align: center;
}
.lol{
	padding-left: 165px;
}
.lol-1{
	padding-right: 165px;
}
/*section4*/
.footer{
	height: 440px;
	background: url("../img/black.jpg")
}
.logo-footer{
	padding-top: 20px;
	width: 100%;
	text-align: center
}
.nav-footer {
	margin: 24px;
	list-style: none
}
.nav-footer li a:hover{
	opacity: 0.8
}
.nav-footer a{
	text-decoration: none;
	color: white;
	font-size: 16px
}
.nav-footer li{
	margin: 0 16px;
	margin-bottom: 20px
}
.image-footer img{
	margin: 20px;
	height: 100px
}
.content-footer{
	color: white;
	font-size: 14px;
	text-align: center;
	line-height: 10px;
	padding: 10px;
}
.img1 {
	border-radius: 20%
}
.ct{
	color: white;
	padding-top: 45px 
}